## 빅데이터개론_HW1_22130039_최규진

## Variables

In [2]:
a = 123 #변수 a에 인트값 123을 대입

In [3]:
a

123

In [4]:
A #A라는 변수는 없음

NameError: ignored

In [5]:
100_name = 100 #변수의 이름을 지정할 떄는 앞에 문자부터 시작

SyntaxError: ignored

In [6]:
False = 1 #변수를 지정할 때, 이미 파이썬 안에 내장된 문자는 사용 안 됨

SyntaxError: ignored

In [7]:
a = 123
b = 234
print(a,id(a))
print(b,id(b)) #id함수는 해당 변수의 메모리 주소를 출력하는 함수

123 93975448996160
234 93975448999712

## Type

In [8]:
type(123) #값 123은 인트 타입

int

In [9]:
type(123.45) #값 123.45는 float타입

float

In [10]:
type('OnwTwoThree') #'OnwTwoThree'는 문자열이므로 string타입

str

In [11]:
123 == 123.0 #값은 같으므로 True가 출력

True

In [12]:
1 == 'One' #문자열과 숫자는 같지않으므로 False가 출력

False

## Integer Operations

In [13]:
123*2

246

In [14]:
a = 123
a*2 #변수에 값을 대입하고 연산자를 써도 동일

246

In [16]:
doublea = a*2
print(doublea) 
type(doublea) #doublea는 정수이므로 int가 출력

246

int

## String Operation

In [17]:
print(onetwothree) #문자열을 출력하고 싶다면 ''를 붙여야한다.

NameError: ignored

In [18]:
print('onetwothree')

onetwothree

In [19]:
print("onwtwothree")

onwtwothree

In [20]:
print('"onetwothree"') #''안에 ""을 써도 무방 다만 ""을 문자로 보고 같이 출력

"onetwothree"

In [21]:
print("""onetwothree""")

onetwothree

In [22]:
print('''onetwothree''') #"""나 '''을 써도 안의 문자를 문자열로 생각하여 출력

onetwothree

In [23]:
print("Handong is God's University")

Handong is God's University

In [24]:
print('andong is God's University') #여기서 문자열은 Handong is God뿐이다.

SyntaxError: ignored

In [25]:
print('Handong is God\'s University') #\'를 통해서 '를 문자로 취급

Handong is God's University

In [26]:
'Big' + 'Data' #문자열도 연산자 사용가능

'BigData'

In [1]:
var1 = 'Welcome to'
var2 = 'Big Data Camp'
print(var1 + var2)

Welcome toBig Data Camp

In [2]:
print(var1, var2) #print안에 ,를 넣으면 두 문자열을 띄어서 출력

Welcome to Big Data Camp

In [3]:
len('BigData') #문자열의 문자개수를 출력

7

## String Indexing

In [4]:
msg = 'God is good'

In [5]:
print(msg)

God is good

In [6]:
print(msg[0]) #문자열의 0번째 인덱스에 위치한 문자을 출력

G

In [7]:
print(msg[3]) #문자열의 3번째 인덱스에 위차한 문자를 출력

In [8]:
print(msg[-1]) #문자열의 -1인덱스에 위치한 문자를 출력 -의 경우 맨 뒤에서 부터 시작

d

In [9]:
print(msg[0] + msg[1] + msg[2]) #인덱싱한 문자도 문자열에 속하므로 연산자 사용가능

God

## Converting data type

In [10]:
varint = 123
varfloat = 123.0
varstring = '123'

In [11]:
int(varfloat) #int()는 해당 변수에 값을 정수값으로 바꾸어 준다.

123

In [12]:
int(varstring) #해단 변수의 값을 정수로 바꾸어 준다

123

In [13]:
float(varint) #float()는 해당 변수의 값을 실수로 바꾸어준다

123.0

In [14]:
float(varstring) #해당 변수의 값을 실수로 바꾸어준다

123.0

In [15]:
str(varfloat) #str()는 해당 변수의 값을 문자열로 바꾸어 준다.

'123.0'

## Comments

In [16]:
#BigData = 1
BigData #해당 변수지정은 #으로 주석처리가 되어있어 반영되지 않아 해당 변수를 출력해도 오류가 발생

NameError: ignored

In [17]:
'''BigData = 1'''
BigData #위와 마찬가지로 주석처리가 되어있어 해당 변수는 없는 존재 따라서 출력시 오류

NameError: ignored

In [18]:
############################
#### Pthyon Programming ####
# Written by Kim # 21/07/16  
#전부 주석처리

## Operations

## Arithmetic operators

In [19]:
1 + 1 #더하기 연산자

2

In [20]:
1 - 1 #빼기 연산자

0

In [21]:
2 * 2 #곱하기 연산자

4

In [22]:
2 ** 3 #지수 연산자

8

In [23]:
10 / 2 #나누기 연산자

5.0

In [24]:
10//2 # 몫 연산자

5

In [25]:
10 % 2  #나머지 연산자

0

In [26]:
varA = 100
varA+=1 #+=는 해당 변수값에 1을 더한것을 해당변수에 다시 대입(업데이트)
varA

101

In [27]:
varA = 10
varA = varA + 1 
varA #해당 문장은 위의 문장을 풀어 쓴 것이다

11

In [29]:
varA = 10
varA-=1
varA #-=는 해당 문자에 1을 뺀뒤 다시 변수에 저장(업데이트)

9

In [30]:
varA = 10
varA = varA - 1
varA #위의 문장을 풀어쓴 것이다

9

## Relational operators

In [31]:
1<2 # <연산자를 통해 True(참) or False(거짓)값을 출력 가능

True

In [32]:
1>2 # >연산자를 통해 True(참) or False(거짓)값을 출력 가능

False

In [33]:
1<=2 # <=연산자를 통해 True(참) or False(거짓)값을 출력 가능

True

In [34]:
1>=2 # >=연산자를 통해 True(참) or False(거짓)값을 출력 가능

False

In [35]:
1 == 2 # ==연산자를 통해 True(참) or False(거짓)값을 출력 가능

False

In [36]:
1 != 2 # !=연산자를 통해 True(참) or False(거짓)값을 출력 가능

True

In [37]:
weight = 100
height = 1.83
bmi = weight / (height * height)
print("My weight is", weight, "Kg, and height is", height, "m.")

My weight is 100 Kg, and height is 1.83 m.

In [38]:
if( bmi>25 ):
  print("overweighted.")
#if문의 경우 ()안의 조건이 충족될 경우 아래의 내용이 실행

overweighted.

## Logical operators

In [39]:
(1<2) and (2<3) #and 연산자의 경우 둘다 참일때만 참을 출력

True

In [40]:
(1==2) and (2<3)

False

In [41]:
(1<2) or (2<3) #or 연산자의 경우 둘다 거짓일때만 거짓

True

In [42]:
(1==2) or (2<3)

True

In [43]:
1<2

True

In [44]:
not(1<2) #not의 경우 ()안의 불린값을 반대로 출력

False

## Function

## Definding a function

In [45]:
def plus(num1, num2):
  return num1+num2
#def로 함수를 생성

In [46]:
type(plus) #해당 함수의 타입은 function

function

In [47]:
plus(2,12) #parameter와 argument의 개수가 같아야 실행 가능

14

In [48]:
result_plus = plus(2,12)
result_plus
#함수의 마지막에 return이 있어서 함수의 값을 다른 변수에 넣을 수 있다.

14

In [49]:
def mul(num1,num2):
  return num1 * num2

In [50]:
mul(2,12)

24

In [51]:
result_mul = mul(2,12)
result_mul

24

## Class

## Definding a class

In [53]:
class Calcul:
  def __init__(self, frist, second):
    self.num1 = frist
    self.num2 = second
  def add(self):
    result = self.num1 + self.num2
    return result

In [54]:
a = Calcul(5,7) #다음의 class의 parameter의 개수는 2개이다

In [55]:
type(a)

__main__.Calcul

In [56]:
a.add() #class 안의 매서드인 add를 실행

12